.CopyToClipboardButton {
  width: 1.09375rem;
  height: 1.25rem;

  position: absolute;
  top: 50%;
  right: 0;

  transform: translateY(-50%) translateX(-1rem);
}

.CopyToClipboardButton__icon {
  object-fit: cover;
}

@media only screen and (min-width: 640px) {
  .CopyToClipboardButton {
    width: 1.3125rem;
    height: 1.5rem;

    transform: translateY(-50%) translateX(-2rem);
  }
}
