.CopyToClipboardButton {
  color: var(--color-primary-400);

  background-color: transparent;
  border: none;
  cursor: pointer;

  box-sizing: content-box;
  padding: 0.75rem;
  width: 1.09375rem;
  height: 1.25rem;

  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) translateX(-1rem);

  transition: var(--transition-hover);
  transition-property: color;
}

.CopyToClipboardButton:hover {
  color: var(--color-white);
}

.CopyToClipboardButton__icon {
  object-fit: cover;
}

@media only screen and (min-width: 640px) {
  .CopyToClipboardButton {
    width: 1.3125rem;
    height: 1.5rem;

    transform: translateY(-50%) translateX(-2rem);
  }
}
