.PasswordStrengthIndicator {
  background-color: var(--color-neutral-700);

  margin-top: 2rem;
  padding-inline: 1rem;
  padding-block: 0.875rem;
  height: 3.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.PasswordStrengthIndicator__title {
  color: var(--color-neutral-300);
  font-family: var(--font-monospace);

  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 21pt;
  text-transform: uppercase;
}

.PasswordStrengthIndicator__indicator {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.PasswordStrengthIndicator__label {
  color: var(--color-neutral-50);
  font-family: var(--font-monospace);

  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 24pt;
  text-transform: uppercase;
}

.PasswordStrengthIndicator__bars {
  height: 1.75rem;

  display: flex;
  gap: 0.5rem;
}

.PasswordStrengthIndicator__bar {
  width: 0.625rem;
  height: 100%;
}

.PasswordStrengthIndicator__bar--empty {
  border-color: var(--color-neutral-50);

  border-width: 2px;
}

.PasswordStrengthIndicator__bar--too-weak {
  background-color: var(--color-danger-400);
}

.PasswordStrengthIndicator__bar--weak {
  background-color: var(--color-warning-500);
}

.PasswordStrengthIndicator__bar--medium {
  background-color: var(--color-warning-300);
}

.PasswordStrengthIndicator__bar--strong {
  background-color: var(--color-success-400);
}

@media only screen and (min-width: 640px) {
  .PasswordStrengthIndicator {
    padding-inline: 2rem;
    padding-block: 1.25rem;
    height: 4.5rem;
  }

  .PasswordStrengthIndicator__title {
    font-size: 1.25rem;
    line-height: 24pt;
  }

  .PasswordStrengthIndicator__label {
    font-size: 1.5rem;
    line-height: 32pt;
  }
}
