@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-neon-green: #a4ffaf;
    --color-very-dark-grey: #18171f;
  }

  input[type='range'] {
    background-image: linear-gradient(
      to right,
      var(--color-neon-green, #a4ffaf) 0%,
      var(--color-neon-green, #a4ffaf) calc(attr(value) * 1%),
      var(--color-very-dark-grey, #18171f) calc(attr(value) * 1%),
      var(--color-very-dark-grey, #18171f) 100%
    );
  }
}

@layer components {
  .heading-l {
    @apply font-mono font-bold text-[2rem] leading-[2.688rem];
  }

  .heading-m {
    @apply font-mono font-bold text-2xl leading-[1.938rem];
  }

  .body-m {
    @apply font-mono font-bold text-lg leading-[1.438rem];
  }

  .body-s {
    @apply font-mono font-bold text-base leading-[1.312rem];
  }

  .input-range {
    @apply appearance-none w-full bg-transparent;
  }

  .input-range::-webkit-slider-thumb {
    @apply appearance-none;
  }

  .input-range::-webkit-slider-thumb {
    @apply w-7 h-7 rounded-full border-none bg-neutral-50;
  }

  .input-range::-moz-range-thumb {
    @apply w-7 h-7 rounded-full border-none bg-neutral-50;
  }

  .input-range:hover::-webkit-slider-thumb {
    @apply bg-neutral-700 outline-2 outline-primary-400/100 outline;
  }

  .input-range:hover::-moz-range-thumb {
    @apply bg-neutral-700 outline-2 outline-primary-400/100 outline;
  }
}
